    <!-- hero with navbar -->
    <section class="hero is-small">
        <div class="hero-head">
            <!-- navbar -->
            <nav class="navbar">
                <div class="container pl-6">
                    <!-- app logo -->
                    <div class="navbar-brand">
                        <figure class="image is-128x128">
                            <img class="navbar-item" src="/img/gift-logo.png">
                        </figure>
                    </div>
                </div>
    
                <!-- mobile active signup/create buttons aligned right -->
                <div id="navbarMenuHeroA" class="navbar-menu  is-active">
                    <div class="navbar-end">
                        <div class="navbar-item is-active">
                            <div class="field is-grouped">
                                <div class="buttons">
                                    <a class="button is-primary" data-aos="flip-left" data-aos-duration="1500" id="profile">
                                        <strong>Create a profile</strong>
                                    </a>
                                    <a class="button is-primary is-inverted" data-aos="flip-left" data-aos-duration="1500"
                                        id="login">
                                        <strong>Login</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>