<section class="hero is-fullheight" id="form">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-multiline is-centered is-mobile">
                <!-- login form -->
                <div class="column is-bordered is-6 is-centered">
                    <form id="fs-frm" name="registration-form" accept-charset="utf-8"
                        action="https://formspree.io/f/{form_id}" method="post" class="box">
                        <fieldset id="fs-frm-inputs">
                            <!-- email input w validation -->
                            <div class="py-5 px-3">
                                <label for="email-address" class="title">Email Address</label>
                                <div class="field">
                                    <input type="email" name="_replyto" id="email-address"
                                        placeholder="e.g. jane@gmail.com" required="">
                                </div>
                            </div>
                            <!-- password input -->
                            <div class="py-5 px-3">
                                <label for="" class="label">{{password}}</label>
                                <div class="field">
                                     <input type="password" oninput="checkPassword();" placeholder="*******"
                                                    class="input" required="">
                                </div>
                            </div>
                        </fieldset>
                        <div class="pb-5 has-text-centered is-medium">
                            <input type="submit" value="Login" id="login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>