<!-- gift fairy process section -->
    <section id="process-container">
        <div class="tile is-ancestor">
            <div class="tile is-12 py-5 px-5 mg-medium">
                <div class="tile is-parent is-4">
                    <div class="container">
                        <article class="tile is-child notification has-text-centered tile-shadow">
                            <p class="title">Create a Profile</p>
                            <figure class="image is-4by3 is-centered">
                                <img src="/img/tile-image-create-a-profile.png">
                            </figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child notification has-text-centered tile-shadow ">
                        <p class="title">Make a List</p>
                        <!-- <i class="fas fa-list-ol fa-5x"></i> -->
                        <figure class="image is-4by3 is-centered">
                            <img src="/img/checklist_woman.jpg">
                        </figure>
                    </article>
                </div>
                <div class="tile is-parent is-4">
                    <article class="tile is-child notification has-text-centered tile-shadow">
                        <p class="title">Buy a Gift</p>
                        <figure class="image is-4by3 is-centered">
                            <img src="/img/tile-image-buy-a-gift.png">
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section>