<!-- wishlist form -->
<section id="form" style="my-25">
    <div class="container">
        <div class="columns is-multiline is-centered is-mobile">
            <form id="fs-frm" name="wish-list" accept-charset="utf-8" action="https://formspree.io/f/{form_id}"
                method="post" class="box">
                <!-- first and last name input w validation -->
                <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" type="text" placeholder="Type item here">
                    </p>
                    <p class="control">
                        <a class="button is-primary">
                            Add item
                        </a>
                    </p>
                </div>



                <!-- submit button -->
                <input type="submit" class="is-primary" value="Save List" id="save">
        </div>
        </form>
    </div>
</section>