    <section class="hero is-fullheight" id="form">
        <div class="hero-body">
            <div class="container is-desktop px-5 py-6">
                <div class="title has-text-centered">
                    <strong>Register</strong>
                </div>
                <p class="is-size-6-fullhd has-text-centered is-mobile pb-3">It's easier to save your profile and share it anytime and anywhere.</p>
                <div class="columns is-multiline is-centered">
                    <!-- registration form -->
                    <div class="column is-bordered is-6 is-centered">
                        <form id="fs-frm" name="registration-form" accept-charset="utf-8" class="box">
                            <fieldset id="fs-frm-inputs">
                                <!-- first and last name input -->
                                <div class="py-5 px-3">
                                    <label for="full-name" class="title">Full Name</label>
                                    <div class="control">
                                        <input type="text" name="name" id="full-name" placeholder="e.g. Jane Fairwell"
                                            required="">
                                        <!-- birthday input -->
                                        <div class="py-5">
                                            <label for="date" class="title">Birthday</label>
                                            <div class="field">
                                                <input type="date" name="birthdate" id="birthdate"
                                                required="">
                                            </div>
                                            <!-- email address input -->
                                            <div class="py-5">
                                                <label for="email-address" class="title">Email Address</label>
                                                <div class="field">
                                                    <input type="email" name="replyto" id="email-address"
                                                        placeholder="e.g. jane@gmail.com" required="">
                                                </div>
                                            </div>
                                            <!-- password field - do we need validation? -->
                                            <div class="field">
                                                <label for="" class="label">Password</label>
                                                <input type="password" oninput="checkPassword();" placeholder="*******"
                                                    class="input" required="">
                                            </div>
                                            <div class="pt-2 has-text-centered">
                                                <input type="submit" class="button is-primary" value="Register" id="register">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- profiles section -->
    <section class="container is-desktop px-5 py-6" id="wishlist-container">
        <!-- add individual details -->
        <div class="container" id="userdetails">
        <div class="title has-text-centered"><strong>Make it easier for your friends and family to get you gifts:</strong>
        </div>
        <form class="is-10 is-multiline is-centered is-mobile">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Shoe Size</label>
                </div>
                <div class="field-body is-2">
                    <div class="field">
                        <input type="text" placeholder="38 or 8.5" class="input">
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">Shirt Size:</label>
                    </div>
                    <p>
                    <div class="field">
                        <input class="input" type="text" placeholder="34">
                    </div>
                    </p>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Favorite Colors:</label>
                </div>
                <div class="field-body is-3">
                    <div class="field">
                        <input type="text" placeholder="38 or 8.5" class="input">
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">Favorite Brands:</label>
                    </div>
                    <p>
                    <div class="field">
                        <input class="input" type="text" placeholder="34">
                    </div>
                    </p>
                </div>
            </div>
        </form>
        </div>

        <!-- Select Categories -->
        <section class="container is-desktop px-5 py-6" id="favorites">
            <div class="title has-text-centered"><strong>Select 3 Favorite Categories!</strong>
            </div>
            <form class="is-multiline is-centered is-12">
                <div class="field is-horizontal">
                    <div class="field-label is-normal is-4">
                        <label class="label">Category 1</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input type="text" placeholder="38 or 8.5" class="input" id="cat0">
                        </div>
                    </div>
                    <div class="field-label is-normal is-4">
                        <label class="label">Category 2</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input class="input" type="text" placeholder="34" id="cat1">
                        </div>
                    </div>
                    <div class="field-label is-normal is-4">
                        <label class="label">Category 3</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <input type="text" placeholder="38 or 8.5" class="input" id="cat2">
                        </div>
                    </div>
                </div>
            </form>
            <!-- category button -->
            <div class="pt-2 has-text-centered">
                <input type="submit" class="button is-primary" value="Save Categories" id="cat-btn">
            </div>
        </section>

        <!-- detailed wishlist -->
        <section class="container" id="wishlist">
            <div class="column is-fullwidth pt-6 is-centered">
                <div class="columns is-centered">
                    <div class="column title has-text-centered is-10">
                        <p><strong>MAKE YOUR WISHLIST</strong></p>
                    </div>
                </div>
                <!-- input wishlist items form -->
                <div class="columns is-10">
                    <div class="column mx-6">
                        <form>
                            <div class="field">
                                <label for="" class="label">Category:</label>
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth is-hoverable" required="">
                                            <select name="wishlist item" id="category">
                                                <option value="">-</option>
                                                <option value="Cooking Tools">Cooking</option>
                                                <option value="Electronics">Electronics</option>
                                                <option value="Computers">Computers</option>
                                                <option value="Clothing">Clothing</option>
                                                <option value="Shoes">Shoes</option>
                                                <option value="Accessories">Accessories</option>
                                                <option value="Home">Home</option>
                                                <option value="Appliances">Appliances</option>
                                                <option value="Garden">Garden</option>
                                                <option value="Movies">Movies</option>
                                                <option value="Music">Music</option>
                                                <option value="Books">Books</option>
                                                <option value="Toys & Games">Toys & Games</option>
                                                <option value="Food">Food</option>
                                                <option value="Pets">Pets</option>
                                                <option value="Beauty">Beauty</option>
                                                <option value="Sports">Sports</option>
                                                <option value="Fitness">Fitness</option>
                                                <option value="Auto">Auto</option>
                                                <option value="Photo">Photo</option>
                                                <option value="Art">Art</option>
                                                <option value="Craft">Craft</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">Brand:</label>
                                <input type="text" placeholder="" class="input" id="brand" required="">
                            </div>
                            <div class="field">
                                <label for="" class="label">Item name:</label>
                                <input type="text" placeholder="" class="input" id="product" required="">
                            </div>
                            <div class="pb-5 has-text-centered">
                                <input type="submit" class="button is-primary" value="Add Item" id="add-item">
                            </div>
                        </form>

                        <div class="notification is-invisible">
                            <button class="delete"></button>
                            Lorem ipsum
                        </div>

                    </div>

                    <!-- panel for saved wishlist items -->
                    <div class="column" id="panel">
                        <article class="panel is-desktop">
                            <p class="panel-heading is-primary">
                                Your Wishlist!
                            </p>

                            <nav class="tabs is-boxed is-toggle is-centered">
                                <div class="container">
                                    <ul class="" id="wishlist-panel">
                                        <li class="tab is-active" id="catorigin" onclick="openTab(event,'content1')">
                                            <a>All</a></li>
                                        <li class="tab" id="origin0" onclick="openTab(event,'content2')">
                                            <a id="catorigin0">Shoes</a></li>
                                        <li class="tab" id="origin1" onclick="openTab(event,'content3')">
                                            <a id="catorigin1">Fashion</a></li>
                                        <li class="tab" id="origin2" onclick="openTab(event,'content4')">
                                            <a id="catorigin2">Computer</a></li>
                                    </ul>
                                </div>
                            </nav>

                            <div class="panel-block">
                                <p class="control has-icons-left">
                                    <input class="input is-primary" type="text" placeholder="Search">
                                    <span class="icon is-left">
                                    </span>
                                </p>
                            </div>
                            <div class="container is-6">
                                <div class="container is-active" id="items">
                                    <ul id="content1" class="tabcontent">
                                        <li class="panel-block" id="item0">
                                            <button class="delete"></button>
                                            Dell Latitude 14"
                                        </li>
                                        <li class="panel-block">
                                            <button class="delete"></button>
                                            Creuset dutch oven
                                        </li>
                                        <li class="panel-block">
                                            <button class="delete"></button>
                                            Apple iPhone 12
                                        </li>
                                        <a class="panel-block">
                                            <button class="delete"></button>
                                            Converse sneakers
                                        </a>
                                        <a class="panel-block">
                                            <button class="delete"></button>
                                            Converse sneakers
                                        </a>
                                        <a class="panel-block">
                                            <button class="delete"></button>
                                            Converse sneakers
                                        </a>
                                        <a class="panel-block" id="sampleitem">
                                        </a>
                                    </ul>
                                </div>

                                <div id="content2" class="tabcontent" style="display:none">
                                    <div class="title">Test Panel 1
                                        <a class="panel-block">
                                            <span class="panel-icon"></span>
                                            Dell Latitude 14"
                                        </a>
                                    </div>
                                </div>

                                <div id="content2" class="tabcontent" style="display:none">
                                    <div class="title">Test Panel Test</div>
                                    <a class="panel-block">
                                        <span class="panel-icon"></span>
                                        Dell Latitude 14"
                                    </a>
                                </div>

                                <div id="content2" class="tabcontent" style="display:none">
                                    <div class="title">Panel Panel Panel Test</div>
                                    <a class="panel-block">
                                        <span class="panel-icon"></span>
                                        Dell Latitude 14"
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>

            <hr>

            <!-- save or share wishlist buttons -->
            <div class="container py-5 box">
                <div class="is-horizontal">
                    <div class="columns is-6">
                        <div class="column">
                            <div class="has-text-centered">
                                <input type="submit" class="button is-primary" value="Save Wishlist" id="save-wishlist">
                            </div>
                        </div>
                        <div class="column">
                            <div class="has-text-centered">
                                <input type="submit" class="button is-primary" value="Share Wishlist"
                                    id="share-wishlist">
                            </div>
                        </div>
                    </div>
                </div>
            </div>