body {
    background-color:rgba(104,176,172, 30%);
}

.navbar {
   /* background-color:rgba(235,244,243, 90%); */
   padding: .3em;
}

.navbar-menu {
    background-color: transparent;
    box-shadow: none;
}

/* create profile button */
#profile {
    background-color:rgba(255,126,103, 90%);
}

/* login button */
#login {
    color: #68b0ac;
}

.hero {
   color: #ffffff;
   font-family: sans-serif;
   vertical-align: middle;
   /* background-color:rgba(255,255,255, 50%); */
}

#process-container, .p {
    display: flex;
    align-items: center;
    text-align: center;
    border-color: black;
    color: #ff7e67;
}

.tile-shadow {
  transition: box-shadow .3s;
}

.tile-shadow:hover {
  box-shadow: 0 0 10px rgba(33,33,33,.2); 
}

#profile-container {
    color: white;
    /* background-color: white; */
    /* padding-bottom: 20px; */
}

.notification {
    padding-top: 1.25rem;
    padding-right: 2rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
}

.slider-navigation-next {
    left: auto;
    right: 0;
    background: #fff center center no-repeat;
    background-size: 20px 20px;
}



.card {
    background-color: transparent;
    box-shadow: none;
    text-align: center;

}
.footer {
    padding:2rem 1.5rem 2rem;
    background-color: transparent;
    /* border-top: 1px solid #006a71; */
}

/* Parallax test but removed the html already, I left it in case it's an option for the profile section on homepage */
.parallax {
    /* The image used */
    background-image: url("/assets/img/logo-gf.png");
  
    min-height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }